.header{
  padding-left: 10%;
  font-size: 45px;
  font-weight: bold;
  width: 100%;
  background:rgb(54, 97, 97) ;
}
.apis-container{
}
.apis-container a{
  text-decoration: none;
  font-size: 70px;
  font-weight: bold;
  color: rgb(1, 49, 49);;
}
.color1{
  background: rgb(90, 149, 153);
}
.color2{
  background:rgb(166, 232, 233);
}
.color3{
  background: white;
}
